@define-color ddbg  #e4e4e4;
@define-color grey  #1a1a1a;
@define-color dpad  #3a3a3a; 
@define-color whirey #6a6a6a;
@define-color white  #bababa;
@define-color whiter #fdfdfd;
@define-color blu   #635da1; 
@define-color grn   #44a157; 
@define-color lgrn  #4fc266;
@define-color ylw   #f9c91a; 
@define-color red   #df2833;
@define-color dred  #7d2126;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @grey;
    color: @white;
}

#tags button {
    padding: 0 6px;
    color: @dpad;
    background: transparent;
    border-bottom: 3px solid @dpad;
}
#tags button.focused {
    color: @white;
    border-bottom: 3px solid @white;
}
#tags button.occupied {
    border-bottom: 3px solid @white;
}

#tags button.urgent {
    background: @lgrn;
}

button:hover {
    background: @whirey
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 6px;
    color: @white;
}

#custom-sep {
    color: @whirey;
}

#clock {
    color: @white;
    border-bottom: 3px solid @white;
}

#battery {
    color: @grn;
    border-bottom: 3px solid @grn;
}

#disk {
    color: @ylw;
    border-bottom: 3px solid @ylw;
}

#memory {
    color: @red;
    border-bottom: 3px solid @red;
}

#cpu {
    color: @ylw;
    border-bottom: 3px solid @ylw;
}

#network {
    color: @blu;
    border-bottom: 3px solid @blu;
}

#networkmanager {
    color: @blu;
    border-bottom: 3px solid @blu;

}

#tray {
    background-color: @grey;
}

#pulseaudio.module.audio {
    color: @grn;
    border-bottom: 3px solid @grn;
}

#pulseaudio.module.mic {
    color: @red;
    border-bottom: 3px solid @red;
}

#custom-power {
    font-size: 20px;
    min-width: 20px;
    color: @white;
}

#custom-notification {
    color: @ylw;
    border-bottom: 3px solid @ylw;
}

#temperature {
    color: @blu;
    border-bottom: 3px solid @blu;
}

#backlight {
    color: @ylw;
    border-bottom: 3px solid @ylw;
}
